name: Upload Container image

on:
  schedule:
  - cron: "0 8 * * *"
  push:
    branches:
      - main
      - release/*
    tags:
      - 'v*'
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io

jobs:
  base-image:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/appthreat/base

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: al9/Dockerfile.minimal
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  lang-image:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta-lang
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/appthreat/base-lang

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: al9/Dockerfile.lang
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-lang.outputs.tags }}
          labels: ${{ steps.meta-lang.outputs.labels }}

  al10-base-image:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/appthreat/base-al10

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: al10/Dockerfile.minimal
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  al10-lang-image:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta-lang
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/appthreat/base-lang-al10

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: al10/Dockerfile.lang
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-lang.outputs.tags }}
          labels: ${{ steps.meta-lang.outputs.labels }}
